<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WIDGET!</title>
</head>
<body>

<div>
	Nothing serious
</div>

<div>
	Just to test bongowidget!
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script async src="http://alice.bm.dev:8000/widget/bongowidget/" type="text/javascript"></script>
<div id="bongomagic_widget" data-href="http://alice.bm.dev:8000/widget/data?callback=?" data-email="amy@mail.com" data-fname="Amy" data-lname="Pond"></div>

</body>
</html>
